#sidebar {
    background-color: @darkgrey;
    color: @offwhite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid lighten(@darkgrey, 50%);
}
